body{
text-align:center;
font-size:1.2em;
}
label{
float:left;
text-align:right;
margin:5px;
}
#wrapper{
margin:0 auto;
width:30%;
text-align:right;
}
fieldset{
width:15em;
}
input[type="text"], input[type="password"] {
    background-color: white;
    border: 1px solid #BBBBBB;
    margin: 0.5em 0;
    padding: 3px;
    width:11em;
}
input[type="checkbox"]{
    float:left;
    margin-top:7px;
}